$custom-1: #e2e4e4;
$custom-2: #dbe0e0;
$custom-3: #cad9d9;
$custom-4: #b9d0d1;
$custom-5: #a8c5c6;
$custom-6: #94b7b8;
$custom-7: #7fa4a5;
$custom-8: #688b8d;
$custom-9: #2b4041;
$custom-10: #325456;
$custom-11: #2e5051;
$custom-12: #293e3f;
$custom-a1: #0e575707;
$custom-a2: #0c61610f;
$custom-a3: #01757521;
$custom-a4: #02737834;
$custom-a5: #036b6e47;
$custom-a6: #0262655d;
$custom-a7: #02535574;
$custom-a8: #0040438d;
$custom-a9: #001a1bd0;
$custom-a10: #012d2fc9;
$custom-a11: #012b2dcd;
$custom-a12: #001a1bd2;
$custom-contrast: #fff;
$custom-surface: #d8dfdfcc;
$custom-indicator: #2b4041;
$custom-track: #2b4041;

$color-background: #e8e8e8;